*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/sysmon/argc filter=lfs diff=lfs merge=lfs -text
/sysmon/argv filter=lfs diff=lfs merge=lfs -text
/sysmon/eventId filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/sysmon/sysmon filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
auditbeat/ filter=lfs diff=lfs merge=lfs -text
auditbeat/fields.yml filter=lfs diff=lfs merge=lfs -text
auditbeat/auditbeat filter=lfs diff=lfs merge=lfs -text
auditbeat/auditbeat.yml filter=lfs diff=lfs merge=lfs -text
auditbeat/audit.rules.d filter=lfs diff=lfs merge=lfs -text
auditbeat/data filter=lfs diff=lfs merge=lfs -text
